
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 2em;
}

h1{
  margin-top: 0;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 5.6rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}

h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold;
}

h3{
  font-family: 'Quicksand', sans-serif;
  color: #11999E;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.7rem;
}

p{
  font-size: 1.5rem;
  margin-top: 0;

  line-height: 2;
}

hr{
  border: dotted #bdf1f2 6px;
  border-bottom: none;
  width: 10%;
  margin: 30px auto;
}

a{
  color: #11999E;
  margin: 20px;
  font-family: 'Quicksand', sans-serif;
}

a:hover{
  color: #30e3cb;
}

.nav-bar{
  position: absolute;
  background-color: #CFD2CF;
  margin: 0;
  height: 20px;
}

.nav-text{
  margin-top: 0;
  top: 0;
  color: white;
}

.top-container{
  background-color: #ABC9FF;
  /* position: relative;*/
  padding-top: 100px;
}

.headshot{
  margin-bottom: 25px;
}

.hello{
  margin-top: 0;
}

.middle-container{
  margin: 100px 0;
}

.intro{
  width: 40%;
  margin: auto;
}

.skill-row{
  width: 50%;
  /*position: relative;
  left: 25%; */
  margin: 100px auto 100px auto;
  text-align: left;
}

.coding{
  width: 50%;
  float: right;
  padding-left: 30px;
}

.tkd{
  width: 50%;
  float: left;
  padding-right: 30px;
}

.coding-text{
  font-size: 1.3rem;
  /*clear: right;*/
}

.tkd-text{
  /*clear: left;*/
}

.bottom-container{
  background-color: #ABC9FF;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 25px;
}

.pro{
  text-decoration: underline;
}


.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.footer-link{
  color: #11999E;
  margin: 20px;
  padding-bottom: 10px;
}

.contact-msg{
  margin: 20px auto 40px auto;
}

.copyright{
  font-size: 15px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 50px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
